header {
  a: c;
}
header div.wrap {
  a: c;
}
header div.wrap h1 {
  a: c;
}
header div.wrap ul {
  a: c;
}
header div.wrap ul li {
  a: c;
}
header div.wrap ul li a {
  a: c;
}
header div.wrap span {
  a: c;
}
header div.wrap span a {
  a: c;
}
header div.wrap span a span {
  a: c;
}
header div.wrap span button {
  a: c;
}